    {% extends "base.html" %}
    {% block content %}
        {% if categories %}

        <table border="1">
        <thead>
        <tr>
            <th>lp.</th>
            <th>nazwa</th>
            <th>adres</th>
            <th>akustyka</th>
            <th>cena</th>
            <th>instrumenty</th>
            <th>sprzet</th>
            <th>opinie</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ category.name}}</td>
                <td>{{ category.addresss}}</td>
                <td>{{ category.acoustics}}</td>
                <td>{{ category.price}}</td>
                <td>{{ category.instruments}}</td>
                <td>{{ category.equipment}}</td>
                <td><a href="/opinions/{{ category.pk }}">pokaz</a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        {% else %}
           no rooms
        {% endif %}

        <div id="content2">
        {% block content2 %}

        {% endblock %}
        </div>

    {% endblock %}
