    {% extends "base.html" %}

    {% block first %}
        Sala: {{room_name }}
        {% if opinions %}
            {% for opinion in opinions %}
                <p>
                    {{ opinion.text }}
                    <br />Data:
                    {{ opinion.date }}
                    <br />IP:
                    {{ opinion.ip }}
                </p>

            {% endfor %}
        {% else %}
            You can write first opinion
        {% endif %}
        <a href="/add_opinion/{{ room_pk }}">dodaj opinie</a>
    {% endblock %}


