    {% extends "base.html" %}

    {% block first %}
        Sala: {{room_name }}
        {% if opinions %}
            <table border="2">
            {% for opinion in opinions %}
                <tr>
                    <td>{{ opinion.text }}</td>
                    <td>Data dodania: {{ opinion.date }}</td>
                    <td>IP: {{ opinion.ip }}</td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            You can write first opinion
        {% endif %}
        {% if request.user.is_authenticated %}
            <a href="/add_opinion/{{ room_pk }}">dodaj opinie</a>
        {% else %}
            <a href="/c_add_opinion/{{ room_pk }}">dodaj opinie</a>
        {% endif %}
    {% endblock %}


