{% extends "base.html" %}
{% block content %}
    <form action="" method="post">{% csrf_token %}
        <table border="1">
            <thead>
                <th>Rejestracja</th>
            </thead>
            <tbody>
                <tr>
                    <td>Imię</td>
                    <td>{{ form.first_name }}</td>
                    <td>walidator sprawdza imie</td>
                </tr>
                <tr>
                    <td>Nazwisko</td>
                    <td>{{ form.last_name }}</td>
                    <td>walidator sprawdza haslo</td>
                </tr>
                <tr>
                    <td>Login</td>
                    <td>{{ form.username }}</td>
                    <td>walidator sprawdza unikalnosc loginu</td>
                </tr>
                <tr>
                    <td>Hasło</td>
                    <td><input type="password" {{ form.password }} </td>
                    <td>walidator sprawdza haslo</td>
                </tr>
                <tr>
                    <td>Powtórz hasło</td>
                    <td><input type="password"></td>
                    <td>walidator sprawdza poprawne powrórzenie hasla</td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="Wyślij" />
    </form>

{% endblock %}


    {{ form.as_p }}

